@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

.container {
    padding-left: 7vw;
    padding-right: 7vw;
}

header {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 25%);
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #e7e7e7;
}

.header-logo {
    position: absolute;
    right: 7vw;
    height: 64px;
    width: auto;
}

.footer-logo {
    height: 32px;
    width: auto;
}

h1 {
    padding-left: 10vh;
    padding-top: 10vh;
}

h2 {
    padding: 10vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

header .menuItems {
    display: flex;
}

header .navbar li {
    list-style: none;
}

header .navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

header .navbar a:hover {
    font-weight: bolder;
    text-decoration: underline;
    scale: 1.3;
}

.navbar {
    display: block;
    position: relative;
    height: 60px;
}

.navbar .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 14px;
    left: 7vw;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.navbar .hamburgerLines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 7vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #000000;
}

.navbar .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar .hamburgerLines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar .hamburgerLines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

header .menuItems {
    height: 100vh;
    width: 100%;
    transform: translateY(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    justify-content: space-evenly;
    text-align: center;
    background: #ffffff;
}

header .menuItems li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}



.navbar input[type="checkbox"]:checked~.menuItems {
    transform: translateX(0);
}

.navbar input[type="checkbox"]:checked~.hamburgerLines .line1 {
    transform: rotate(45deg);
}

.navbar input[type="checkbox"]:checked~.hamburgerLines .line2 {
    transform: scaleY(0);
}

.navbar input[type="checkbox"]:checked~.hamburgerLines .line3 {
    transform: rotate(-45deg);
}

.navbar input[type="checkbox"]:checked~.logo {
    display: none;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}



.skillsGrid img {
    display: block;
    margin: auto;
    width: 64px;
    padding: 12px;
    transition: transform 0.2s ease-in-out;
}

.skillsGrid img:hover {
    transform: scale(1.1);
}

.skillHtml,
.skillCss,
.skillJs,
.skillPhp,
.skillSql,
.skillPython,
.skillLinux,
.skillApi {
    padding: 1vw;
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    transition: transform 0.2s ease-in-out;
}

.skillHtml:hover,
.skillCss:hover,
.skillJs:hover,
.skillPhp:hover,
.skillSql:hover,
.skillPython:hover,
.skillLinux:hover,
.skillApi:hover {
    background: #e7e7e7;
    transform: scale(1.03)
}

.skillsGrid h3 {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.skillsGrid p {
    text-align: center;
}

.contact-all {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#name {
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    margin-top: 12px;
    padding: 12px;
}

#email {
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    margin-top: 12px;
    padding: 12px;
}

#message {
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    margin-top: 12px;
    padding: 12px;
}

#submitButton {
    margin-top: 12px;
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
}

#submitButton:hover {
    background: rgb(75, 165, 255);
    border-radius: 16px;
    color: #ffffff;
}

.contact-list {
    display: flex;
    height: fit-content;
}

.contact-list img {
    width: 64px;
    height: auto;
    padding: 12px;
}

.contact-list a {
    display: flex;
}

.contact-list li {
    border: 1px solid #b6b6b6;
    border-radius: 16px;
    height: 64px;
    margin: 8px;
}

.mailIcon:hover {
    background-color: rgb(105, 255, 75);
}

.mailIcon img:hover {
    filter: invert(1);
}

.mapIcon:hover {
    background-color: rgb(255, 111, 75);
}

.mapIcon img:hover {
    filter: invert(1);
}

.githubIcon:hover {
    background-color: rgb(0, 0, 0);
}

.githubIcon img:hover {
    filter: invert(1);
}

.linkedinIcon:hover {
    background-color: #0e76a8;
}

.linkedinIcon img:hover {
    filter: invert(1);
}

/*carousel start*/

.carousel {
    padding: 1vw;
    ;
    display: grid;
    grid-template-columns: repeat(5, 40vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5vw;
    overflow: scroll;
    height: auto;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    overflow-y: hidden;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.recommendedImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #b6b6b6;
}

.carousel::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}

.carousel::-webkit-scrollbar {
    width: 12px;
    height: 1.5vh;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 16px;
}

.carousel::-webkit-scrollbar-track {
    background-color: transparent;
}


.active {
    scroll-snap-type: unset;
}



.recommendedCardOne,
.recommendedCardTwo,
.recommendedCardThree,
.recommendedCardFour,
.recommendedCardFive {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 16px;
    display: flex;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.recommendedCardOne:hover,
.recommendedCardTwo:hover,
.recommendedCardThree:hover,
.recommendedCardFour:hover,
.recommendedCardFive:hover {
    transform: scale(1.02);
}

.recommendedImg {
    cursor: pointer;
}

.skillsGridMobile {
    display: none;
}

#showMoreBtn {
    display: none;
    height: 6vh;
    border: solid 1px #b6b6b6;
    border-radius: 16px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

#showMoreBtn:hover {
    background: rgb(75, 165, 255);
    border-radius: 16px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .carousel {
        grid-template-columns: repeat(5, 100vw);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5vw;
        overflow: scroll;
        height: auto;
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem;
        overflow-y: hidden;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }

    .carouselPadding {
        padding-bottom: 4vh;
    }

    .skillsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding: 1rem;
    }

    .skillSql,
    .skillPython,
    .skillLinux,
    .skillApi {
        display: none;
    }

    #showMoreBtn {
        display: block;
    }

    html {
        width: 100%;
    }

    h1 {
        margin-top: 4vh;
    }

    h1,
    h2 {
        padding: 0;
        padding-bottom: 4vh;
    }

    #bio p {
        padding-bottom: 4vh;
    }

    .contact-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 16px;
    }

    #contact-form {
        padding-bottom: 4vh;
        width: 80vw;
    }
}